/aula_1/app03/node_modules
/aula_2/node_modules
/endereco/dist
/endereco/tmp
/endereco/out-tsc
endereco/bazel-out

# dependencies
/endereco/node_modules

# profiling files
/endereco/chrome-profiler-events*.json
/endereco/speed-measure-plugin*.json

# System Files
endereco/.DS_Store
endereco/Thumbs.db
