<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
      <div class="card">
        <div class="image">
          <img src="./../../../assets/landing.png" width="100%" />
        </div>

        <div class="text">
          <div class="button-group">
            <div class="circle-button details">
              <img src="./../../../../assets/icons/details.svg" />
            </div>
            <div class="circle-button edit">
              <img src="./../../../../assets/icons/edit.svg" />
            </div>
            <div class="circle-button delete">
              <img src="./../../../../assets/icons/delete.svg" />
            </div>
          </div>

          <h3>Rua dos bobo</h3>
          <h4>Cep</h4>
          <h4>Cep</h4>
          <h4>Cep</h4>
          <h4>Cep</h4>
        </div>
      </div>
    </div>
  </div>
</div>
