<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
      <div class="card">
        <div class="image">
          <img src="./../../../assets/landing.png" width="100%" />
        </div>

        <div class="text">
          <div class="button-group">
            <a class="circle-button edit" (click)="editAddress(inputAddress)">
              <img src="./../../../../assets/icons/edit.svg" />
            </a>
            <a
              class="circle-button delete"
              (click)="deleteAddress(inputAddress.id)"
            >
              <img src="./../../../../assets/icons/delete.svg" />
            </a>
          </div>
          <div id="information-address">
            <a class="address">{{
              "Logradouro: " + inputAddress.logradouro
            }}</a>
            <a class="address-details">{{ "Tipo: " + inputAddress.tpLogr }}</a>
            <a class="address-details">{{
              "Bairro: " + inputAddress.bairro
            }}</a>
            <a class="address-details">{{ "UF: " + inputAddress.uf }}</a>
            <a class="address-details">{{
              "Cidade: " + inputAddress.cidade
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
