<div id="form-main-div">
  <form
    class="address-form"
    [formGroup]="address"
    (ngSubmit)="onSubmit(address.value)"
  >
    <fieldset>
      <legend>{{ typeForm }} Endereco</legend>

      <div class="input-block">
        <label for="tpLogr">Tipo logradouro</label>
        <input id="tpLogr" formControlName="tpLogr" />
      </div>

      <div class="input-block">
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" formControlName="logradouro" />
      </div>

      <div class="input-block">
        <label for="bairro">Bairro</label>
        <input id="bairro" formControlName="bairro" />
      </div>

      <div class="input-block">
        <label for="cidade">Cidade</label>
        <input id="cidade" formControlName="cidade" />
      </div>

      <!-- Select peguei na internet, preguiça -->
      <div class="select">
        <select class="select-text" formControlName="uf">
          <option *ngFor="let uf of ufData" [ngValue]="uf.sigla">
            {{ uf.nome }}
          </option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">UF</label>
      </div>
    </fieldset>

    <button class="button" type="submit">Confirmar</button>
  </form>
</div>
