<h2>Entrar no sistema</h2>
<hr />
<form action="/entrar" method="post" role="form">
  <table>
    <tr>
      <td colspan="2" align="center">Informe as credenciais</td>
    </tr>
    <tr>
      <td>Login:</td>
      <td><input type="text" name="usuario" /></td>
    </tr>
    <tr>
      <td>Senha:</td>
      <td><input type="password" name="senha" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Entrar" />
      </td>
    </tr>
  </table>
</form>
